sphinx>=5.0
docutils
nbsphinx
sphinx_gallery
sphinx_book_theme
sphinx_copybutton
sphinx_togglebutton
sphinxcontrib-images
sphinxcontrib-video
numpydoc
ipykernel
myst_nb
sphinx_design
sphinx_tippy
jupytext
