sphinx<=6.0, sphinx>=4.0
docutils>=0.19
furo==2021.11.16
nbsphinx
sphinx_gallery
sphinx_book_theme
sphinx_copybutton
sphinx_togglebutton
sphinxcontrib_matlabdomain
sphinxcontrib_images
sphinxcontrib_video
numpydoc
ipykernel
myst_nb
sphinx_design
